@{
    ViewData["Title"] = "Get to know Joel";
}
<div class="text-center">
    <h1 class="display-4">Get to know Joel</h1>
</div>
<br />
<!--Image Link-->
<div style="text-align: center;">
    <a href="https://baconsale.com/" style="display: inline-block;">
        <img src="~/img/baconsalekate.jpg" style="max-width: 300px; max-height: 300px;" />
    </a>
</div>
<br />
<!--Link to Quick Wits-->
<div>
    <h3> Joel loves everything about film and theater. He regularly performs at Quick Wits Comedy located in Midvale Utah.
        Check out the link below to see when the next performance is!
        <br />
        <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    </h3>
    
    <br />
    <br />
    <!--Link to Baconsale-->
    <h3>Joel's passion for films led him and his friends to make a podcast where they review movies, tv shows, and much more. Take a listen to the bacon sale podcast below.
        <br />
        <a href="https://baconsale.com/">BaconSale</a>

    </h3>
</div>
