@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br />
<div class="container">
    <img src="~/img/joelhiltonheadshot.jpg" />
    <h2>He is that GUY!</h2>
</div>
